<a href="https://colab.research.google.com/github/abnermsousa/Regressao_marketing_desafio4/blob/main/Desafio_4_Construindo_um_modelo_de_regress%C3%A3o_para_marketing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
data = pd.read_csv("/content/drive/MyDrive/data.csv", encoding='latin1')

In [ ]:
print(data.describe())

            Quantity      UnitPrice     CustomerID
count  541909.000000  541909.000000  406829.000000
mean        9.552250       4.611114   15287.690570
std       218.081158      96.759853    1713.600303
min    -80995.000000  -11062.060000   12346.000000
25%         1.000000       1.250000   13953.000000
50%         3.000000       2.080000   15152.000000
75%        10.000000       4.130000   16791.000000
max     80995.000000   38970.000000   18287.000000

In [ ]:
print(data.dtypes)

InvoiceNo       object
StockCode       object
Description     object
Quantity         int64
InvoiceDate     object
UnitPrice      float64
CustomerID     float64
Country         object
dtype: object

In [ ]:
print(data['CustomerID'].isnull().sum())

135080

In [ ]:
data = data.dropna(subset=['CustomerID'])

In [ ]:
print(data[data['UnitPrice'] <= 0])

       InvoiceNo StockCode                          Description  Quantity  \
9302      537197     22841         ROUND CAKE TIN VINTAGE GREEN         1
33576     539263     22580         ADVENT CALENDAR GINGHAM SACK         4
40089     539722     22423             REGENCY CAKESTAND 3 TIER        10
47068     540372     22090              PAPER BUNTING RETROSPOT        24
47070     540372     22553               PLASTERS IN TIN SKULLS        24
56674     541109     22168        ORGANISER WOOD ANTIQUE WHITE          1
86789     543599    84535B         FAIRY CAKES NOTEBOOK A6 SIZE        16
130188    547417     22062  CERAMIC BOWL WITH LOVE HEART DESIGN        36
139453    548318     22055   MINI CAKE STAND  HANGING STRAWBERY         5
145208    548871     22162          HEART GARLAND RUSTIC PADDED         2
157042    550188     22636   CHILDS BREAKFAST SET CIRCUS PARADE         1
187613    553000     47566                        PARTY BUNTING         4
198383    554037     22619            SET OF 6 SOLDIER SKITTLES        80
279324    561284     22167           OVAL WALL MIRROR DIAMANTE          1
282912    561669     22960             JAM MAKING SET WITH JARS        11
285657    561916         M                               Manual         1
298054    562973     23157           SET OF 6 NATIVITY MAGNETS        240
314745    564651     23270     SET OF 2 CERAMIC PAINTED HEARTS         96
314746    564651     23268  SET OF 2 CERAMIC CHRISTMAS REINDEER       192
314747    564651     22955             36 FOIL STAR CAKE CASES        144
314748    564651     21786                   POLKADOT RAIN HAT        144
358655    568158      PADS           PADS TO MATCH ALL CUSHIONS         1
361825    568384         M                               Manual         1
379913    569716     22778                   GLASS CLOCHE SMALL         2
395529    571035         M                               Manual         1
420404    572893     21208          PASTEL COLOUR HONEYCOMB FAN         5
436428    574138     23234        BISCUIT TIN VINTAGE CHRISTMAS       216
436597    574175     22065       CHRISTMAS PUDDING TRINKET POT         12
436961    574252         M                               Manual         1
439361    574469     22385            JUMBO BAG SPACEBOY DESIGN        12
446125    574879     22625                   RED KITCHEN SCALES         2
446793    574920     22899         CHILDREN'S APRON DOLLY GIRL          1
446794    574920     23480       MINI LIGHTS WOODLAND MUSHROOMS         1
454463    575579     22437        SET OF 9 BLACK SKULL BALLOONS        20
454464    575579     22089        PAPER BUNTING VINTAGE PAISLEY        24
479079    577129     22464          HANGING METAL HEART LANTERN         4
479546    577168         M                               Manual         1
480649    577314     23407       SET OF 2 TRAYS HOME SWEET HOME         2
485985    577696         M                               Manual         1
502122    578841     84826       ASSTD DESIGN 3D PAPER STICKERS     12540

             InvoiceDate  UnitPrice  CustomerID         Country
9302     12/5/2010 14:02        0.0     12647.0         Germany
33576   12/16/2010 14:36        0.0     16560.0  United Kingdom
40089   12/21/2010 13:45        0.0     14911.0            EIRE
47068     1/6/2011 16:41        0.0     13081.0  United Kingdom
47070     1/6/2011 16:41        0.0     13081.0  United Kingdom
56674    1/13/2011 15:10        0.0     15107.0  United Kingdom
86789    2/10/2011 13:08        0.0     17560.0  United Kingdom
130188   3/23/2011 10:25        0.0     13239.0  United Kingdom
139453   3/30/2011 12:45        0.0     13113.0  United Kingdom
145208    4/4/2011 14:42        0.0     14410.0  United Kingdom
157042   4/14/2011 18:57        0.0     12457.0     Switzerland
187613   5/12/2011 15:21        0.0     17667.0  United Kingdom
198383   5/20/2011 14:13        0.0     12415.0       Australia
279324   7/26/2011 12:24        0.0     16818.0  United Kingdom
282912   7/28/2011 17:09        0.0     12507.0           Spain
285657    8/1/2011 11:44        0.0     15581.0  United Kingdom
298054   8/11/2011 11:42        0.0     14911.0            EIRE
314745   8/26/2011 14:19        0.0     14646.0     Netherlands
314746   8/26/2011 14:19        0.0     14646.0     Netherlands
314747   8/26/2011 14:19        0.0     14646.0     Netherlands
314748   8/26/2011 14:19        0.0     14646.0     Netherlands
358655   9/25/2011 12:22        0.0     16133.0  United Kingdom
361825    9/27/2011 9:46        0.0     12748.0  United Kingdom
379913    10/6/2011 8:17        0.0     15804.0  United Kingdom
395529  10/13/2011 12:50        0.0     12446.0             RSA
420404  10/26/2011 14:36        0.0     18059.0  United Kingdom
436428   11/3/2011 11:26        0.0     12415.0       Australia
436597   11/3/2011 11:47        0.0     14110.0  United Kingdom
436961   11/3/2011 13:24        0.0     12437.0          France
439361   11/4/2011 11:55        0.0     12431.0       Australia
446125   11/7/2011 13:22        0.0     13014.0  United Kingdom
446793   11/7/2011 16:34        0.0     13985.0  United Kingdom
446794   11/7/2011 16:34        0.0     13985.0  United Kingdom
454463  11/10/2011 11:49        0.0     13081.0  United Kingdom
454464  11/10/2011 11:49        0.0     13081.0  United Kingdom
479079  11/17/2011 19:52        0.0     15602.0  United Kingdom
479546  11/18/2011 10:42        0.0     12603.0         Germany
480649  11/18/2011 13:23        0.0     12444.0          Norway
485985  11/21/2011 11:57        0.0     16406.0  United Kingdom
502122  11/25/2011 15:57        0.0     13256.0  United Kingdom

In [ ]:
data = data[data['UnitPrice'] > 0]

In [ ]:
print(data[data['Quantity'] <= 0])

       InvoiceNo StockCode                       Description  Quantity  \
141      C536379         D                          Discount        -1
154      C536383    35004C   SET OF 3 COLOURED  FLYING DUCKS        -1
235      C536391     22556    PLASTERS IN TIN CIRCUS PARADE        -12
236      C536391     21984  PACK OF 12 PINK PAISLEY TISSUES        -24
237      C536391     21983  PACK OF 12 BLUE PAISLEY TISSUES        -24
...          ...       ...                               ...       ...
540449   C581490     23144   ZINC T-LIGHT HOLDER STARS SMALL       -11
541541   C581499         M                            Manual        -1
541715   C581568     21258        VICTORIAN SEWING BOX LARGE        -5
541716   C581569     84978  HANGING HEART JAR T-LIGHT HOLDER        -1
541717   C581569     20979     36 PENCILS TUBE RED RETROSPOT        -5

            InvoiceDate  UnitPrice  CustomerID         Country
141      12/1/2010 9:41      27.50     14527.0  United Kingdom
154      12/1/2010 9:49       4.65     15311.0  United Kingdom
235     12/1/2010 10:24       1.65     17548.0  United Kingdom
236     12/1/2010 10:24       0.29     17548.0  United Kingdom
237     12/1/2010 10:24       0.29     17548.0  United Kingdom
...                 ...        ...         ...             ...
540449   12/9/2011 9:57       0.83     14397.0  United Kingdom
541541  12/9/2011 10:28     224.69     15498.0  United Kingdom
541715  12/9/2011 11:57      10.95     15311.0  United Kingdom
541716  12/9/2011 11:58       1.25     17315.0  United Kingdom
541717  12/9/2011 11:58       1.25     17315.0  United Kingdom

[8905 rows x 8 columns]

In [ ]:
data = data[data['Quantity'] > 0]

In [ ]:
print(data.duplicated().sum())

5192

In [ ]:
data = data.drop_duplicates()

In [ ]:
data['CustomerID'] = data['CustomerID'].astype(str)

In [ ]:
data['InvoiceDate'] = pd.to_datetime(data['InvoiceDate'])

In [ ]:
print(data[(data['Quantity'] > 10000) | (data['UnitPrice'] > 5000)])

       InvoiceNo StockCode                     Description  Quantity  \
61619     541431     23166  MEDIUM CERAMIC TOP STORAGE JAR     74215
173382    551697      POST                         POSTAGE         1
540421    581483     23843     PAPER CRAFT , LITTLE BIRDIE     80995

               InvoiceDate  UnitPrice CustomerID         Country
61619  2011-01-18 10:01:00       1.04    12346.0  United Kingdom
173382 2011-05-03 13:46:00    8142.75    16029.0  United Kingdom
540421 2011-12-09 09:15:00       2.08    16446.0  United Kingdom

In [ ]:
data = data[(data['Quantity'] <= 10000) & (data['UnitPrice'] <= 5000)]

In [ ]:
data['TotalPrice'] = data['Quantity'] * data['UnitPrice']

In [ ]:
last_purchase_date = data['InvoiceDate'].max()

In [ ]:
print("Última data de compra:", last_purchase_date)

Última data de compra: 2011-12-09 12:50:00

In [ ]:
top_countries = data.groupby('Country')['TotalPrice'].sum().nlargest(10)
print("Top 10 países com maior valor em vendas:")
print(top_countries)

Top 10 países com maior valor em vendas:
Country
United Kingdom    7031228.694
Netherlands        285446.340
EIRE               265262.460
Germany            228678.400
France             208934.310
Australia          138453.810
Spain               61558.560
Switzerland         56443.950
Belgium             41196.340
Sweden              38367.830
Name: TotalPrice, dtype: float64

In [ ]:
top_products = data.groupby('Description')['Quantity'].sum().nlargest(10)
print("Top 10 produtos mais vendidos:")
print(top_products)

Top 10 produtos mais vendidos:
Description
WORLD WAR 2 GLIDERS ASSTD DESIGNS     54319
JUMBO BAG RED RETROSPOT               46078
WHITE HANGING HEART T-LIGHT HOLDER    36706
ASSORTED COLOUR BIRD ORNAMENT         35263
PACK OF 72 RETROSPOT CAKE CASES       33670
POPCORN HOLDER                        30919
RABBIT NIGHT LIGHT                    27153
MINI PAINT SET VINTAGE                26076
PACK OF 12 LONDON TISSUES             25329
PACK OF 60 PINK PAISLEY CAKE CASES    24230
Name: Quantity, dtype: int64

In [ ]:
monthly_sales = data.resample('M', on='InvoiceDate')['TotalPrice'].sum()
print("Valor de venda total por mês:")
print(monthly_sales)

Valor de venda total por mês:
InvoiceDate
2010-12-31     570422.730
2011-01-31     490917.710
2011-02-28     446084.920
2011-03-31     594081.760
2011-04-30     468374.331
2011-05-31     669212.400
2011-06-30     660046.050
2011-07-31     598962.901
2011-08-31     644051.040
2011-09-30     950690.202
2011-10-31    1035642.450
2011-11-30    1156205.610
2011-12-31     348720.840
Freq: M, Name: TotalPrice, dtype: float64

In [ ]:
monthly_sales_country = data.groupby([pd.Grouper(key='InvoiceDate', freq='M'), 'Country'])['TotalPrice'].sum().unstack().fillna(0)
monthly_sales_country = monthly_sales_country[top_countries.index]
print("Valor de venda total por mês e por país (top 10):")
print(monthly_sales_country)

Valor de venda total por mês e por país (top 10):
Country      United Kingdom  Netherlands      EIRE   Germany    France  \
InvoiceDate
2010-12-31       496477.340      8784.48   8813.88  15205.74   9616.31
2011-01-31       363692.730     26611.16  21904.19  16880.84  17740.12
2011-02-28       354618.200     23011.91  10111.52   9581.05   8515.96
2011-03-31       465784.190     22416.49  21674.36  14392.69  14584.95
2011-04-30       408733.111      2976.56   7570.50  12315.54   5529.61
2011-05-31       542216.600     29185.88  15977.15  25734.70  17606.48
2011-06-30       523775.590     26858.09  19835.99  13246.35  16078.97
2011-07-31       484545.591        26.02  40854.15  16440.98  10000.19
2011-08-31       497194.910     40327.81  16957.83  19220.77  13810.96
2011-09-30       794806.692     26937.26  40832.64  18079.47  23428.04
2011-10-31       821220.130     40708.65  24302.92  31628.42  33471.05
2011-11-30       975251.390     25874.01  29448.41  27967.68  31274.75
2011-12-31       302912.220     11728.02   6978.92   7984.17   7276.92

Country      Australia     Spain  Switzerland  Belgium   Sweden
InvoiceDate
2010-12-31      965.35   1843.73      1304.92  1809.91  3834.30
2011-01-31     9017.71  10086.09      4231.23  1200.20  3486.32
2011-02-28    14695.42   2114.50      2654.92  2181.07   509.50
2011-03-31    17223.99   5363.15      1870.23  3351.98  4720.58
2011-04-30      771.60   1785.65      2076.94  1989.48   809.10
2011-05-31    13638.41   3257.60      3610.01  2732.40  2681.98
2011-06-30    25187.77   3333.21      7904.15  4274.82   832.00
2011-07-31     4964.38   7620.77      3762.65  2475.57  6802.09
2011-08-31    22489.20   3342.41      4969.89  3554.02  1390.36
2011-09-30     5106.73   5189.24      8284.86  4208.02  4575.21
2011-10-31    17150.53   8636.94      7655.19  5685.38  5766.16
2011-11-30     7242.72   8669.06      8118.96  6315.76  2722.23
2011-12-31        0.00    316.21         0.00  1417.73   238.00

In [ ]:
rfm_data = data.groupby(['CustomerID', 'InvoiceNo']).agg({
    'InvoiceDate': 'max',
    'TotalPrice': 'sum'
}).reset_index()

In [ ]:
rfm = rfm_data.groupby('CustomerID').agg({
    'InvoiceDate': lambda x: (last_purchase_date - x.max()).days,
    'InvoiceNo': 'count',
    'TotalPrice': 'mean'
}).rename(columns={
    'InvoiceDate': 'Recency',
    'InvoiceNo': 'Frequency',
    'TotalPrice': 'Monetary'
}).reset_index()

In [ ]:
rfm.to_csv("rfm_output.csv", index=False)